* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    background: #000;
    display: flex;
}

.header_logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    margin-left: 12%;
    margin-top: 55px;
}

.header_logo strong {
    color: #fcac45;
}

nav {
    margin-top: 55px;
    margin-left: 12%;
}

.topnav a {
    color: #fff;
    text-align: center;
    padding: 12px 6px;
    font-size: 14px;
    font-weight: bold;
}

.topnav a:hover {
    border-bottom: 3px solid #fcac45;
}

.topnav .icon {
    display: none;
}


/* @media screen and (max-width: 1145px) {
    nav {
        margin-left: 10%;
    }
    .topnav a {
        padding: 12px 8px;
    }
} */

@media screen and (max-width: 1100px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
    }
    nav {
        width: 100%;
    }
    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive {
        height: 340px;
    }
    .topnav.responsive a.icon {
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}